<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/register}" method="post">
    <input type="text" title="name" name="name" placeholder="name">
    <input type="text" title="email" name="email" placeholder="email">
    <input type="password" title="password" name="password" placeholder="password">
    <input type="date" title="Birth day" name="birthDate">
    <input type="radio" value="male" name="gender" >
    <input type="radio" value="female" name="gender">
    <input type="submit" title="register">


</form>
</body>
</html>